

.chamada-l1 {
    font-family: 'Inconsolata', monospace;
    font-size: 75px;
    color: #6080b8;
    text-align: center;
    margin-top: 40px;
}
.chamada-l2 {
    font-family: 'Inconsolata', monospace;
    font-size: 170px;
    color: #6080b8;
    text-align: center;
}
.chamada-l3 {
    font-family: 'Inconsolata', monospace;;
    font-size: 55px;
    color: #6080b8;
    text-align: center;
}
.chamada-l4 {
    font-family: 'Inconsolata', monospace;
    font-size: 55px;
    color: #6080b8;
    text-align: center;
}

.txt-footer {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
    color: #2c2c2c;
    text-align: justify;
}
.txt-footer2 {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    color: #2c2c2c;
    text-align: center;
    margin-top: 20px;
}


#teste {
    width: 100%;
    height: 20px;

    background-color: #00ffcc;
}

#teste2 {
    width: 100%;
    height: 20px;
    background-color: #21b2a6;
}

#bg-form {
    width: 100%;
    height: auto;
    background: rgba(14, 87, 138, 0.7);
    background-color: #80a0c9;
    position: relative;
    padding: 50px;
    margin-top: 50px;
}

#bg-top {
    width: 100%;
    height: 85px;
    position: relative;
    background-image: url("../images/bambu.png");
    background-color: #e7e2ab;
    background-repeat: no-repeat;
    background-position: center;
}

#bg-content{
    width: 100%;
    height: auto;
    position: relative;
    background-image: url("../images/fundo-banner.png");
    background-repeat: no-repeat;
    background-position: center;
}
#bg-reservados{
    width: 100%;
    height: auto;
    padding: 20px;
    position: relative;
    background-color: #ffffff;
}

.btn-macau {
    background-color: #4f81bc;
    color: #ffffff;
}

.btn-macau {
    background-color: #4f81bc;
    color: #ffffff;
}

.reservado {
    font-family: 'Inconsolata', monospace;
    font-size: 14px;
    color: #4f81bc;
    text-align: center;
}


#bg-footer{
    width: 100%;
    height: auto;
    position: relative;
    background-image: url("../images/bambu.png");
    padding-top: 30px;
    background-color: #e7e2ab;
}
.seta-e{
margin-left: -35px;
margin-top: -110px;
position: absolute;
    font-size: 14px;
    color: #4f81bc;
}
.seta-d{
    right: -30px;
    margin-top: -110px;
    position: absolute;
    font-size: 14px;
    color: #4f81bc;
}




@media screen and (max-width: 768px) {
    .chamada-l1 {
        ffont-family: 'Inconsolata', monospace;
        font-size: 30px;
        color: #6080b8;
        text-align: center;
        margin-top: 40px;
    }
    .chamada-l2 {
        font-family: 'Inconsolata', monospace;
        font-size: 69px;
        color: #6080b8;
        text-align: center;
    }
    .chamada-l3 {
        font-family: 'Inconsolata', monospace;
        font-size: 22px;
        color: #6080b8;
        text-align: center;
    }
    .chamada-l4 {
        font-family: 'Inconsolata', monospace;
        font-size: 22px;
        color: #6080b8;
        text-align: center;
    }

    .txt-footer {
        font-family: 'Inconsolata', monospace;
        font-size: 14px;
        color: #2c2c2c;
        text-align: justify;
    }
    .txt-footer2 {
        font-family: 'Inconsolata', monospace;
        font-size: 11px;
        color: #2c2c2c;
        text-align: center;
        margin-top: 20px;
    }
    .reservado {
        font-family: 'Inconsolata', monospace;
        font-size: 11px;
        color: #4f81bc;
        text-align: center;
    }

}
